@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

#content {
    position: relative;
    top: 11vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Ubuntu";
    height: 89vh;
}

html,
body {
    margin: 0;
    padding: 0;
}